.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px 20px;
  align-items: center;
  width: 640px;
  margin: 20px auto;
  div {
    img {
      cursor: pointer;
    }
  }
}

.getMore, .loading {
  height: 30%;
}

.loading {
  .loading-circle {
    margin: 0 auto;
  }
}

.getMore {
  text-align: center;
  font-size: 18px;
  color: #333;
}

@media( max-width: 760px ) {
  .photos {
    width: 420px;
  }
}

@media( max-width: 500px ) {
  .photos {
    width: 200px;
  }
}
